* {
    
    padding: 0px;
    margin: 0px;
     font-family: century gothic;
    }
    
    header  {
    background-image:  url(../images/pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    }
     ul{
         float: right;
         list-style-type: none;
         margin-top: 25px;
     }
     ul li{
         display: inline-block;
     }
    ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px 20px;
        border: 1px solid #fff;
        transition:0.6s ease ;
    
    }
    ul li a:hover{
        background-color: #fff;
        color: #000;
    }
    .logo img{
        float: left;
        width: 80px;
        height: auto;
    }
    .view{
        position: absolute;
        top: 130px;
        left:435px ;
        width: 400px;
        height: auto;
        margin: 15px auto;
        text-align: center;
        background-color: beige;
        padding: 15px;
    }
    .view input, select {
        
        display: block;
        width: 95%;
        margin: 10px 3px;
        height: 30px;
        border: none;
        font-size: 18px;
        padding: 0px 10px;
    }
    .view h2 {
        color: brown;
    }
    @media screen and (max-width:480px) {
    
    } 
    